@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  overflow-x: hidden;
}

.content {
  overflow-y: hidden;
}

/* width */
.content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000; 
  border-radius: 10px;
}
 
/* Handle */
.content::-webkit-scrollbar-thumb {
  background: #8888884d; 
  border-radius: 10px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}